/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
/*FONTS
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Titillium Web', sans-serif;
*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/lato400.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/lato700.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/opensans400.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/opensans700.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(../fonts/titillium400.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium WebBold'), local('TitilliumWeb-Bold'), url(../fonts/titillium700.woff) format('woff');
}

/*General Reset*/
	table.full-width{
		width:100%;
	}

	body.front .col-sm-12 {
width: 100%;
padding:0;
}
body.admin-menu {
	z-index:100000;
padding-top: 0px!important;
margin-top:28px !important;
}

	table.full-width .col {
		width:33%;
	}

	.col p {
		font-family: 'Lato', sans-serif;
		line-height:21px;
		font-size:14px;
		color:#7c8180;
		margin:0 auto;
		max-width:220px;

	}

	.stButton .st-sharethis-counter,
	.stButton .st-twitter-counter, 
	.stButton .st-facebook-counter {
		width: 60px;
		height: 30px!important;
	}

	body.page-node fieldset.filter-wrapper{
		display:none;
	}

/*Layout*/
	body {
	 	font-family:'Titillium Web', sans-serif;
	 	background:#eee;
	 	padding-top:0;
	 	font-size:18px;
	 	color:#949494;
	 	line-height:28px;
	 	margin-bottom:0px;
	 	-webkit-font-smoothing: antialiased;
	 }

		header#navbar{
			z-index:120;
			height:110px;
			width:100%;
			position:fixed;
			/*background:#32676f;*/
			background:#55bcc5;
			margin-bottom:0;
			border:0;
			border-radius:0;
		}

	footer,
	.footer.container{
		display:none;
	}

/*Front Page*/
body.front {

}

	body .main-container {
		padding:130px 0 0 0;
		max-width:600px;
	}

	body.page-node .main-container .row,
	body.page-blog .main-container .row {
		margin:0;
	}

	body.front .main-container {
		padding:110px 0 0 0;
		max-width:100%;
	}

		body.front .main-container .row {
			width:100%;
			margin:0;
			max-width:100%;
			text-align:center;
		}

			body.front .main-container .row section {
			}

body.front .block .section-wrapper{
	max-width:920px;
	padding:115px 0;
	margin:0 auto;
}

body.front #block-system-main .section-wrapper {
	max-width:100%;
	width:100%;
	padding:0;
}
body.front #block-system-main .section-wrapper .views-field-field-imagen img{
	width:100%;
}

body.front #block-nodeblock-3,
body.front #block-nodeblock-2{
	background:#fff;
}

body.front #block-nodeblock-4{
	background:#f7971c;
}

body.front #block-views-trabajos-block{
	background:#967292;
}

body.front #block-views-trabajos-block h2.block-title{}

body.front #block-nodeblock-5{
	background:#de6561;
	color:#fff;
}

body.front #block-views-trabajos-block h2.block-title,
body.front #block-nodeblock-4 h2.block-title,
body.front #block-nodeblock-5 h2.block-title{
	color:#fff;
}

body.front #block-nodeblock-3 h2.block-title{
	color:#55bcc5;
}

body.front #block-nodeblock-2 h2.block-title{
	color:#489fa6;
}

body.front #block-views-trabajos-block h2.block-title,
body.front .block-nodeblock h2.block-title {
	font-family:'Titillium Web', sans-serif;
	font-weight:700;
	text-transform:uppercase;
	font-size:45px;
}

body.front .block-nodeblock div.title-separator,
#block-views-trabajos-block div.section-wrapper div.title-separator {
	display:block;
	height:5px;
	width:105px;
	background: #666;
	opacity:0.2;
	margin:10px auto;

}
#block-views-trabajos-block div.section-wrapper div.title-separator:first-of-type{
	display:none;
}
p.block-summary{
	padding:0 200px;
}

body.front #block-nodeblock-4 p.block-summary,
body.front #block-views-trabajos-block p.block-summary{
	color:#fff;
	font-family: 'Titillium Web',sans-serif;
}

body.front .block-nodeblock h5 {
	font-size: 19px;
/*color: #565552;*/
color:#ce0b17;
font-family: 'Open Sans', sans-serif;
text-align: center;
padding: 15px 0 0 0;
text-transform: uppercase;
}
body.front #block-nodeblock-4 h5,
body.front #block-nodeblock-5 h5 {
	color:#fff;
}
/*menu*/
		
#navbar .nav {
	padding-top:40px;
}

	#navbar .nav li.leaf{}
	#navbar .nav li.leaf.active{}
		#navbar .nav li.leaf.active a,
		#navbar .nav li.leaf a{
			font-family: 'Open Sans',sans-serif;
			text-transform: uppercase;
			color:#fff;
			font-size:15px;
			background:none;
			padding:8px 18px;
		}

			#navbar .nav li.leaf a:hover{
				background:#66cacc;
				border-radius:3px;
			}

			#navbar .nav li.leaf a#facebook-top,
			#navbar .nav li.leaf a#twitter-top{
				margin:0 5px;
				background: url(../images/top-soc-icons/top-soc.png);
				display:block;
				height:37px;
				width:37px;
				overflow:hidden;
				text-indent: -10000px;
			}

			#navbar .nav li.leaf a#facebook-top{
				background-position:-37px -37px;
			}

			#navbar .nav li.leaf a#twitter-top{
				background-position:0px -36px;
			}

			#navbar .nav li.leaf a#facebook-top:hover{
					background-position:-37px 0px;
			}

			#navbar .nav li.leaf a#twitter-top:hover{
					background-position:0px 1px;
			}

/*Hero Unit*/
body.front div.view-hero-unit{
	/*padding-top:110px;*/
}

body.front div.view-hero-unit div.view-content div.item-list ul{
	list-style-type: none;
	padding:0;
}
body.front div.view-hero-unit div.view-content div.item-list ul li{
	display:block;
}

div.view-hero-unit div.view-content .ls-layer img {
	width:100%;
	height:auto;
}
/*MAP*/

#block-nodeblock-5 {
	text-align:left;
}

#block-nodeblock-5 h2.block-title{
	text-align: center;
}
	section#block-nodeblock-5 .node .content .field-name-body{

		overflow: hidden;
		float: left;
		width: 330px;


	}

		section#block-nodeblock-5 .node .content form#webform-client-form-5{
			float:right;
			width:50%;
		}
		section#block-nodeblock-5 a#contact-mail{
			color:#fff;
		}
		section#block-nodeblock-5 .node .content form#webform-client-form-5 .form-text,
		section#block-nodeblock-5 .node .content form#webform-client-form-5 .form-textarea{
			border:0;
			color:#fff;
			border-radius:4px;
			font-family: 'Open Sans', sans-serif;
			background:#864040
		}

		section#block-nodeblock-5 .node .content form#webform-client-form-5 label {
			font-family: 'Lato', sans-serif;
			font-size:12px;
			color:#fff;
			padding:4px 0px;
			text-transform: uppercase;
		}

		section#block-nodeblock-5 .node .content form#webform-client-form-5 .btn {
			float:right;
			display:block;
			margin:15px 0;
			background:#CA4242;
			border:#BD3535;
		}

			section#block-nodeblock-5 .node .content form#webform-client-form-5 .btn:hover {
				background:#B13232;
				border:#8E2828;
			}

section#block-nodeblock-5 .glyphicon {
	margin:3px 5px;
	float:left;

}
section#block-nodeblock-5 span.contact-data{
	display:block;
	margin-left:30px;

}
.resizable-textarea .grippie {
	display:none;
}

/*Proyectos*/
body.front .view-trabajos {}

	body.front .view-trabajos ol {
		list-style-type:none;
		clear:both;
		overflow:hidden;
	}

		body.front .view-trabajos ol li{
			float:left;
			overflow:hidden;
		}

		body.front .view-trabajos table.views-view-grid {
			width:100%;
			min-height:600px;
		}

		body.front .view-trabajos .views-field-title a {
			background:#54bcc5;
			display:none;
			width:255px;
			position:absolute;
			height:255px;
		}

		body.front .views-trabajos a.media-tab{
			border:1px solid;
			overflow:hidden;
			display:block;
		}

		body.front .view-trabajos #media_wrapper .views-field-field-media,
		body.front .view-trabajos #media_wrapper .views-field-body{
			/*display:none;*/
			background:none;
			border:0;
		}

body.front .view-trabajos #media_wrapper {
	background:none;
	/*max-height:618px;*/
	overflow:hidden;
}

body.front .view-trabajos #media_wrapper ul {
	padding:0;
	list-style-type:none;
	height:618px;
	clear:both;
	overflow:hidden;
}

body.front .view-trabajos #media_wrapper ul li {
	float:left;
}


body.front #media_wrapper div.views-field-field-media div.views-field-body div.field-content {
	font-family: "Lato", sans-serif;
	color:#fff;
	font-size:11pt;
	line-height:28px;
}
.view-trabajos {
	background:none;
	border-radius:0;
	border:0;
}

.view-trabajos ol.ui-tabs-nav {
	background:none;
	border:0;
}
.view-trabajos ol.ui-tabs-nav li{
	margin:25px;
	border:0;
	border-radius:0;
}
.view-trabajos ol.ui-tabs-nav li:hover div.project-title{}
.view-trabajos ol.ui-tabs-nav li div.project-title{
	display:none;
	background:#de6561;
	width:256px;
	opacity:0.9;
	height:256px;
	position:absolute;
}
.view-trabajos ol.ui-tabs-nav li div.project-title span{
	color:#fff;
	display:block;
	position:relative;
	top:120px;
}

.view-trabajos ol.ui-tabs-nav li:hover div.project-title{
	display:block;
}


ul.proj-slider {}
ul.proj-slider li{
	/*float:left;*/
}

.cycle-prev, .cycle-next {
position: absolute;
top: 50%;
width: 87px;
opacity: 0;
filter: alpha(opacity=0);
z-index: 110;
height: 90px;
cursor: pointer;
}

.cycle-prev:hover, .cycle-next:hover {
	opacity:1;
}
	.cycle-next{
		right:0;
		background: url("../images/arrow-next.png") no-repeat center bottom;
	}
	.cycle-prev{
		left:0;
		background: url("../images/arrow-prev.png") no-repeat center bottom;
	}

/*Flexible*/
.flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.flexible-container iframe,   
.flexible-container object,  
.flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*Blog*/
body.page-blog {}
body.page-blog .node-article h2 {
}
body.page-blog a,
body.page-blog a:hover {
	color:#de6561;
}

.view-blog .views-row {
	margin: 50px 0;
	display: block;
	overflow: hidden;
	clear: both;
}

body.page-blog .views-row .views-field-field-image img,
body.page-node .field-name-field-image img {
width:100%;
height:auto;
}
body.page-node h1.page-header {
	text-align:center;
	color:#de6561;
}
body.page-node,
body.page-blog{
	color:#444;
	font-family: 'Lato', sans-serif;
	line-height:22px;
	font-size:11pt;
	word-break:break-all;
}

body.page-node .field-name-body{
	margin:15px 0;
}
body.page-blog h1.page-header {
	display:none;
}
body.page-node .field-name-field-media-blog .field-items {
	overflow:hidden;
}
body.page-node .field-name-field-media-blog .field-items .field-item {
	float:left;
	margin:5px
}
body.page-node .field-name-field-media-blog .field-items .field-item img{
	height:auto;
}

/*Slides*/
div.ls-bottom-nav-wrapper{
	display:none;
}

#cboxLoadedContent .file-image img {
	max-width: none!important;
	max-height: none!important;
}

.flashContent {
	margin-top:200px;
	height:500px;
}

.view-trabajos ol.ui-tabs-nav li div.project-title span span.subtitle {
	top: 0;
	font-size: .75em;
	display: block;
}

#direction {
	padding:10px;
	background:#333;
	position:fixed;
	opacity:0.5;
	z-index:100;
	right:10px;
	color:#fff;
	bottom:10px;
}


ul.proj-slider li.cycle-slide .content img {
	width:100%!important;
	height:auto!important;
}
	#sidr-wrapper-0{
		position:fixed;
		right:20px;
		top:35px;
		background:#666;
		padding:10px;
	}

		#sidr-wrapper-0 a{
			color:#fff;
}
/* default style */
/*.selectnav { display: none; }

*/

div.sidr-inner li.sidr-class-leaf {
	list-style-type:none;
}

div.sidr-inner li.sidr-class-leaf a {
	border-bottom: 1px solid #666666;
    color: #FFFFFF;
    display: block;
    padding: 5px 5px 5px 15px;
}

div.navbar-header {
	float:left;
}

nav { 
float:right;
}

	div.view-hero-unit {
		height:700px;
	}
#heroSlider {
	max-height:700px;
}


@media screen and (min-width: 1900px) {
	body {
	}
	/*#heroSlider div.flashContent.ls-bg{
		max-height:800px !important;
		background:red;
	}
	#heroSlider object{
		height:800px !important;
		margin:0 auto;
	}
		#heroSlider object object{
		height:800px !important;
		}*/

			div.view-hero-unit {
		height:1200px;
	}
	#heroSlider {
		max-height:1200px;
	}

}
/* smaller screen */
/*990px o menos*/
@media screen and (max-width: 990px) {
	#navbar .container{
		max-width:100%;
		width:100%;
	}

		body.front .view-trabajos ol {
		max-width:620px;
		margin: 0 auto;
	}


	li.cycle-slide{
		width:100%;
	}

body.front .view-trabajos #media_wrapper ul {
	height:618px!important;
	}

	body.front .view-trabajos #media_wrapper ul .media-vimeo-outer-wrapper,
	body.front .view-trabajos #media_wrapper ul .file-video-youtube {
		height:618px!important;
	}
	    .media-vimeo-preview-wrapper,
		.media-vimeo-outer-wrapper,
		.media-youtube-video {
		width:100%!important;
		height:618px!important;
	}

		iframe.vimeo-player,
		iframe.media-youtube-player {
		width:100%!important;
		min-height:618px!important;
		height:auto;
	}

		.cycle-next,
		.cycle-prev{
			top:0;
			height:350px;
		}

}

/*850px o menos*/
@media screen and (max-width: 850px) {

select.tinynav1 {
	-webkit-appearance: none;
	display:block;
	width:34px;
	height:34px;
	text-indent:-1000px;
	background:url(../images/mobile-menu.jpg) no-repeat;
}

	button.navbar-toggle {
		margin:35px;
	}

		p.block-summary {
		padding: 0 30px;
	}

	

	#navbar .nav li.leaf.active a, #navbar .nav li.leaf a {
	font-family: 'Open Sans',sans-serif;
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	background: none;
	padding: 8px 18px;
	}
	.navbar .logo {
		margin-right: 0;
		padding-left: 0;
		margin-top: 18px;
		max-width: 140px;
	}
	.navbar .logo img{ 
		width:100%;
	}

	body.front .view-trabajos ol {
		max-width:620px;
		margin: 0 auto;
	}

	.flexible-container {
		margin:0 auto;
		width:90%;
	}

	section#block-nodeblock-5 .node .content .field-name-body {
	float: none;
	width: 290px;
	margin:0 auto;
	}

	section#block-nodeblock-5 .node .content  form#webform-client-form-5 {
	overflow: hidden;
	float: none;
	margin:0 auto;
	width:90%;
	}

	div.view-hero-unit {
		height:500px;
	}
	#heroSlider {
		max-height:500px;
	}
		#heroSlider div.flashContent.ls-bg{
		/*height:200px !important;*/
	}
	#heroSlider object{
		/*height:600px !important;
		margin:0 auto;
	}
		#heroSlider object object{
		/*height:600px !important;*/
		}

body.front .view-trabajos #media_wrapper ul {
	height:500px!important;
	}

	body.front .view-trabajos #media_wrapper ul .media-vimeo-outer-wrapper,
	body.front .view-trabajos #media_wrapper ul .file-video-youtube  {
		height:500px!important;
	}
	    .media-vimeo-preview-wrapper,
		.media-vimeo-outer-wrapper,
		.media-youtube-video {
		width:100%!important;
		height:500px!important;
	}

		iframe.vimeo-player,
		iframe.media-youtube-player {
		width:100%!important;
		min-height:500px!important;
		height:auto;
	}

		.cycle-next,
		.cycle-prev{
			top:0;
			height:300px;
		}


}
/*630px o menos*/
@media screen and (max-width: 641px){
	body.front .view-trabajos ol {
		max-width:310px;
		margin: 0 auto;
	}

		table.full-width .col {
	float:left;
	width:250px;
	}

	table.full-width tr {
		margin:0 auto;
		display:block;
		width:250px;
	}

	nav { 
	margin:37px 0;}

	div.view-hero-unit {
		height:500px;
	}
	#heroSlider {
		max-height:500px;
	}

	body.front .view-trabajos #media_wrapper ul {
	height:400px!important;
	}

	body.front .view-trabajos #media_wrapper ul .media-vimeo-outer-wrapper,
	body.front .view-trabajos #media_wrapper ul .file-video-youtube {
		height:400px!important;
	}
	    .media-vimeo-preview-wrapper,
		.media-vimeo-outer-wrapper,
		.media-youtube-video {
		width:100%!important;
		height:400px!important;
	}

		iframe.vimeo-player,
		iframe.media-youtube-player  {
		width:100%!important;
		min-height:400px!important;
		height:auto;
	}

		.cycle-next,
	.cycle-prev{
		top:0;
		height:250px;
	}

}